:root {
  --white:            #ffffff;
  --black:            #000000;
  --sh-black:         #050505;
  
  --sh-grey:          #242424;

  --sh-yellow:        #FEBB38;
  --sh-dull-yellow:   #E4A80C;
  --sh-dark-yellow:   #BE7E02;
  --sh-light-yellow:  #FECD04;

  --sh-red:           #FE0000;
  --sh-light-red:     #B90103;
  --sh-pale-red:      #7F1313;

  --sh-brown:         #782B00;
  --sh-blue:          #054EAA;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
